.place__imagi {
    width: 460px;
    height: 460px;
    box-sizing: border-box;
    object-fit: cover;
    grid-row: 2/3;
    list-style-type: none;
}

@media screen and (max-width: 1120px) {
    .place__imagi {
        height: 440px;
        min-width: 440px;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .place__imagi {
        height: 340px;
        min-width: 340px;
    }
}

@media screen and (max-width: 568px) {
    .place__imagi {
        height: 320px;
        min-width: 320px;
        grid-row:3;
    }
}