.place__website {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 456px;
    margin-bottom: 0;
}

@media screen and (max-width: 900px) {
    .place__website {
        min-width: 352px;
    }
}

@media screen and (max-width: 568px) {
    .place__website {
        min-width: 288px;
        margin: 0 16px 0;
    }
}