.place__link-website {
  margin: 6px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity;
}

.place__link-website:hover {
    opacity: .8;
}

