.places {
  margin: 0 148px 0;
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 1120px) {
  .places {
    margin: 0 48px 0;
  }
}

@media screen and (max-width: 900px) {
  .places {
    margin: 0 24px 0;
    gap: 73px;
  }
}

@media screen and (max-width: 568px) {
  .places {
    margin: 0;
    gap: 50px;
  }
}